# Ігнорувати файли з секретами
appsettings.json

# === Папки компіляції .NET ===
**/bin/
**/obj/

# === Налаштування VS Code ===
.vscode/

# === Додаткові системні файли (якщо з'являться) ===
*.user
*.suo